.table {
  .row {
    justify-content: center;
  }

  thead > tr:first-child {
    display: none;
  }

  .nav-link {
    padding: 0;
  }

  .easy {
    background-color: green;
  }

  .medium {
    background-color: orange;
  }

  .hard {
    background-color: red;
  }
}
